/* Objects */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.solar-system {
    position: relative;
    width: 400px;
    height: 400px;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, #FFD700, #FFA500);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: sunPulse 2s infinite alternate;
}

.earth-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border: 1px dashed #888;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: orbitEarth 10s infinite linear;
}

.earth {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    background: radial-gradient(circle, rgb(30, 105, 218), rgb(11, 11, 197));
    border-radius: 50%;
    transform: translateX(-50%);
}

.mars-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    border: 1px dashed #e67943;
    border-radius: 50%;
    transform: translateX(-50%, -50%);
    animation: orbitMars 15s infinite linear;
}

.mars {
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: #e67943;
    border-radius: 50%;
    transform: translateX(-50%);
}

.phobos {
    position: absolute;
    top: 50%;
    left: -20px;
    width: 10px;
    height: 10px;
    background-color: #d1b2a3;
    border-radius: 50%;
    transform-origin: 20px 0;
    animation: orbitPhobos 3s infinite linear;
}

.deimos {
    position: absolute;
    top: 50%;
    left: 30px;
    width: 8px;
    height: 8px;
    background-color: #bd9b8a;
    border-radius: 50%;
    transform-origin: 20px 0;
    animation: orbitPhobos 3s infinite linear;
}

.moon {
    position: absolute;
    top: 50%; /* Adjusts the initial position so it starts from top of Earth */
    left: -40px;
    width: 20px;
    height: 20px;
    background-color: #AAA;
    border-radius: 50%;
    transform-origin: 40px 0;  /* This ensures the rotation center is the Earth */
    animation: orbitMoon 2.5s infinite linear;
}


/* animations */

@keyframes orbitEarth {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes orbitMoon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes orbitMars {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


@keyframes orbitPhobos {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


@keyframes orbiDeimos {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

@keyframes sunPulse {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1.05);
    }
}
